.full-width-container
  max-width: 85%

.full-width-container
  max-width: 85%
.landing-header.new
  background-color: #000000
  width: 100%
  .landing-logo
    z-index: 1
    position: relative
    display: flex
    align-items: baseline
    width: auto
    margin-top: 0
    img
      height: 83px
      width: 213px
      margin-top: 20px
      margin-left: 25px
    .logo-text
      text-decoration: none!important
      color: $main_white
      font-family: 'AvenirNextLTPro-Demi'
      font-size: 20px
      line-height: 1.8
      outline: none
      border-left: 2px solid $main_white
      padding-left: 30px
  .landing-header-wrap
    width: 100%
    height: 774px
    background: url("../img/landing-header.png")
    background-repeat: no-repeat
    .container
      height: 100%
      .um-register
        .title-font, #um-submit-btn
          display: none!important
        .um-half
          width: 100%!important
          float: none!important
          display: flex
      .banner-content.land2
        height: 80%
        .header-logos
          display: grid
          grid-template-columns: repeat(8,  1fr)
          grid-gap: 10px
          align-items: center
          padding-top: 20px
      .banner-content
        z-index: 1
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        .landing-tips
          .landing-tip
            .bolder-text
              font-size: 20px
              font-weight: bold
        .landing-signup-form
          .black-title
            font-size: 20px
            font-family: 'AvenirNextLTPro'
            font-weight: bold
          .orange-title
            font-family: 'AvenirNextLTPro-Demi'
            font-size: 18px
            color: #fa4616
            padding-top: 10px

        .green-title
          color: $main_light_green
          font-family: 'AvenirNextLTPro'
          font-size: 50px
          line-height: 1.4
          padding-top: 0px
          font-weight: bold
        .landing-subtitle
          font-family: 'AvenirNextLTPro-Demi'
          font-size: 25px
          color: $main_white
          padding-top: 20px
.join-bar
  background-color: #2d2a29
  padding: 70px 0
  .bar-title
    font-family: 'AvenirNextLTPro-Demi'
    font-size: 20px
    color: $main_light_green
    padding-bottom: 35px
    text-align: center
  .bar-tips
    display: flex
    justify-content: center
    align-items: center
    ul
      li
        color: $main_white
        font-family: 'AvenirNextLTPro'
        font-size: 18px

.redeem-sec
  padding-top: 75px
  padding-bottom: 75px
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.12)
  .redeem-title
    font-family: 'AvenirNextLTPro-Demi'
    font-size: 20px
    color: #2d2a29
    text-align: center
  .redeem-items
    //display: flex
    //justify-content: center
    //align-items: center
    padding-top: 60px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    grid-gap: 50px
    align-items: center
    justify-items: center
    img:not(:last-child)
      max-width: 200px
      //padding-right: 50px

.you-may-know
  padding-top: 75px
  padding-bottom: 75px
  .sec-title
    font-family: 'AvenirNextLTPro-Demi'
    font-size: 20px
    color: #2d2a29
    text-align: center
  .pro-tiles
    display: grid
    grid-template-columns: 254px 254px 254px
    grid-gap: 10px
    justify-content: center
    padding-top: 30px
  .pro-member-tile
    display: flex
    flex-direction: column
    .pro-img
      img
        position: relative
        width: 100%
        height: 266px
        object-fit: cover
    .pro-data
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      padding-top: 25px
      padding-bottom: 25px
      background-color: $main_white
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.12)
      .pro-name
        font-family: 'AvenirNextLTPro-Demi'
        font-size: 15px
        color: #2d2a29
      .pro-business
        font-family: 'AvenirNextLTPro'
        font-size: 15px
        color: #2d2a29

  .testimonials
    display: flex
    justify-content: center
    align-items: center
    margin-top: 42px
    .testimonial
      max-width: 381px
      position: relative
      .content
        background-color: #2d2a29
        padding-top: 40px
        padding-left: 35px
        padding-right: 35px
        padding-bottom: 40px
        height: 240px
        .title
          font-family: 'AvenirNextLTPro-Demi'
          font-size: 20px
          color: $main_white
        .text
          font-family: 'AvenirNextLTPro'
          font-size: 12px
          line-height: 1.33
          color: $main_white
          margin-top: 16px
      .author-info
        padding-top: 131px
        padding-bottom: 37px
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
        position: relative
        .author-photo
          img
            width: 153px
            height: 153px
            border-radius: 50%
            border: 4px solid white
            position: absolute
            top: -40px
            left: calc(50% - 76px)
        .author-name
          font-family: 'AvenirNextLTPro-Demi'
          font-size: 15px
          color: #000000














.landing-header
  background-color: #000000
  width: 100%
  .landing-header-wrap
    width: 100%
    height: 774px
    background: url("../img/landing-banner.png")
    background-repeat: no-repeat
    .container
      height: 100%
      .um-register
        .title-font, #um-submit-btn
          display: none!important
        .um-half
          width: 100%!important
          float: none!important
          display: flex
      .um
        margin-bottom: 0!important

      .banner-content
        z-index: 1
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        .green-title
          color: $main_light_green
          font-family: 'AvenirNextLTPro-Demi'
          font-size: 40px
          line-height: 1.4
          padding-top: 60px
        .landing-tips
          list-style: none
          padding-inline-start: 0
          padding-top: 36px
          max-width: 470px
          .landing-tip
            color: $main_white
            font-family: 'AvenirNextLTPro'
            font-size: 18px
            line-height: 1.44
            padding-bottom: 16px
            display: flex
            .marked_icn
              width: 37px
              height: 31px
              background-repeat: no-repeat
              background: url('../img/landing-checkmark.png')
              background-size: contain
              margin-right: 11.5px
        .landing-signup-form
          background-color: white
          padding: 50px
          border-radius: 30px
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          .um-col-1, .um-button:not(.um-button-social)
            display: none!important
          .um-button-social
            border-radius: 0!important
          ._um_row_1
            display: none!important
          .um-form
            form
              margin: 0!important

          .black-title
            font-family: 'AvenirNextLTPro-Demi'
            font-size: 20px
            line-height: 1.4
            color: #000000
            text-align: center
          span
            font-family: 'AvenirNextLTPro'
            padding-top: 13px
            font-size: 15px
            line-height: 1.4
            color: #000000
          .form-controls
            width: 100%
            display: flex
            flex-direction: column
            padding-top: 25px
            a
              height: 61px
              width: 100%
              margin-bottom: 16px
              color: $main_white
              text-decoration: none
              display: flex
              justify-content: center
              align-items: center
              position: relative
              &.facebook-login
                background-color: #4267B2
                &:hover, &:focus, &:active
                  background-color: #365899!important
              &.google-login
                background-color: #4286f5
                &:hover, &:focus, &:active
                  background-color: #3574de!important
              i
                font-size: 38px
                position: absolute
                left: 10px!important
                top: 10px!important

                width: auto
                margin-right: 15px
              span
                color: $main_white
                padding: 0!important
          .email-signup
            padding-top: 20px
            color: #000000
            font-family: 'AvenirNextLTPro-Demi'
            line-height: 1.4
            font-size: 15px
            text-decoration: none
.brands
  h2
    color: #000000
    font-family: 'AvenirNextLTPro-Demi'
    line-height: 1.4
    font-size: 20px
    text-decoration: none
    text-align: center
    padding-top: 76px
  .brands-list
    padding-top: 16px
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr))
    grid-gap: 25px
    padding-bottom: 43px
    .brand
      img
        border-radius: 50%

.rating-star
  width: 35px
  height: 33px
  background-repeat: no-repeat
  display: inline-block
  background: url('../img/greystar.png')
  background-size: contain
  &.selected
    background: url('../img/geenstar.png')
    background-size: contain
    background-repeat: no-repeat


.testimonials
  text-align: center
  h2
    font-family: 'AvenirNextLTPro-Demi'
    font-size: 20px
    color: $main_dark

.testimonials-list
  padding-bottom: 100px
  padding-top: 42px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 20px

  .testimonial
    max-width: 381px
    .testimonial-header
      text-align: center
      background-color: $main_dark
      padding: 35px
      .title
        color: $main_white
        font-family: 'AvenirNextLTPro-Demi'
        font-size: 20px
        line-height: 1.4
      .content
        font-family: 'AvenirNextLTPro'
        font-size: 12px
        line-height: 1.33
        color: #ffffff
        padding-top: 16px
        padding-bottom: 65px
    .testimonial-footer
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      position: relative
      padding-top: 85px
      padding-left: 22px
      padding-right: 22px
      padding-bottom: 22px
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19)
      .info
        .author
          font-family: 'AvenirNextLTPro-Demi'
          font-size: 15px
          color: #000000
        .company
          font-family: 'AvenirNextLTPro'
          font-size: 15px
          color: #000000
      .photo
        border-radius: 50%
        height: 153px
        width: 153px
        object-fit: cover
        position: absolute
        top: -76px
        border: 4px solid $main_white



.main-landing-link
  text-align: center
  width: 100%
  a
    font-family: 'AvenirNextLTPro'
    font-size: 20px
    color: $orange_title_color
    line-height: 1.4
    margin-top: 81px
    padding-bottom: 75px

.bolder-text
  font-family: 'AvenirNextLTPro-Demi'
  display: contents

.landing-logo
  z-index: 1
  position: absolute
  height: 110px
  width: 280px
  margin-top: 20px
  margin-left: 25px

@media screen and (max-width: 1350px)
  .redeem-sec
    .redeem-items
      //grid-template-columns: 1fr 1fr 1fr

@media screen and (max-width: 1080px)
  .landing-header.new
    .landing-header-wrap
      .container
        .banner-content
          .green-title
            font-size: 35px
  .redeem-sec
    .redeem-items
    //  grid-template-columns: 1fr 1fr
@media screen and (max-width: 862px)
  .you-may-know
    .pro-tiles
      grid-template-columns: repeat(auto-fill, minmax(254px, 254px))
  .landing-header
    .landing-header-wrap
      .container
        .banner-content
          .green-title
            font-size: 30px

@media screen and (max-width: 767px)
  .landing-header.new
    .landing-header-wrap
      height: auto
      padding-bottom: 100px
      background: #000000
      .container
        .banner-content
          .landing-subtitle
            text-align: center
            font-size: 20px
  .join-bar
    .bar-tips-wrap
      display: flex
      justify-content: center
      .bar-tips
        flex-direction: column
        align-items: baseline
        ul
          padding: 0!important
  .landing-header.new
    .landing-header-wrap
      .container
        .banner-content
          .green-title
            font-size: 35px
    .landing-logo
      position: relative
      flex-direction: column
      align-items: center
      justify-content: center
      img
        width: 180px
        height: auto
      .logo-text
        font-size: 16px
        text-align: center
        border: none
        padding-left: 0
  .you-may-know
    .testimonials
      flex-direction: column
      .testimonial
        margin-left: 0!important
        margin-right: 0!important
        margin-bottom: 30px
  .landing-logo
    position: relative
    text-align: center
    margin: 0 auto
    display: block
    width: 178px
    height: 70px
  .landing-header
    padding-top: 29px
    .landing-header-wrap
      background: #000000
      height: auto
      .container
        .banner-content
          .green-title
            text-align: center
            padding-top: 15px
          .landing-signup-form
            margin-top: 20px
          .landing-tips
            max-width: 100%
            padding-top: 50px
            padding-bottom: 50px
  .testimonials-list
    grid-template-columns: 1fr
    justify-content: center
    align-items: center
    .testimonial
      margin: 0 auto

  .brands
    .brands-list
     .brand
       margin: 0 auto
@media screen and (max-width: 502px)
  .landing-header
    .landing-header-wrap
      .container
        .banner-content
          .landing-signup-form
            padding: 31px 22px
            .form-controls
              a
                justify-content: space-around
                i
                  margin-right: 0

@media screen and (max-width: 420px)
  .landing-header.new
    .landing-header-wrap
      .container
        .banner-content
          .header-logos
            justify-items: center
            img
              max-width: 200px
        .header-logos
          justify-items: center
          text-align: center
          img
           max-width: 200px
           padding-bottom: 10px

  .you-may-know
    .testimonials
      .testimonial
        .content
          padding-top: 20px
          height: auto
        .author-info
          padding-top: 105px
          .author-photo
            img
              width: 125px
              height: 125px
              left: calc(50% - 65px)



  .landing-header
    .landing-header-wrap
      .container
        .banner-content
          .landing-signup-form
            padding: 31px 22px
            .form-controls
              a
                justify-content: space-around
                i
                  margin-right: 0
            .black-title
              font-size: 18px
            span
              font-size: 14px
            .email-signup
              font-size: 14px
  .brands
    .brands-list
      grid-template-columns: 1fr
