.landing-header
  background-color: #000000
  width: 100%
  .landing-header-wrap
    width: 100%
    height: 774px
    background: url("../img/landing-banner.png")
    background-repeat: no-repeat
    .container
      height: 100%
      .um-register
        .title-font, #um-submit-btn
          display: none!important
        .um-half
          width: 100%!important
          float: none!important
          display: flex
      .um
        margin-bottom: 0!important

      .banner-content
        z-index: 1
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        .green-title
          color: $main_light_green
          font-family: 'AvenirNextLTPro-Demi'
          font-size: 40px
          line-height: 1.4
          padding-top: 60px
        .landing-tips
          list-style: none
          padding-inline-start: 0
          padding-top: 36px
          max-width: 470px
          .landing-tip
            color: $main_white
            font-family: 'AvenirNextLTPro'
            font-size: 18px
            line-height: 1.44
            padding-bottom: 16px
            display: flex
            .marked_icn
              width: 37px
              height: 31px
              background-repeat: no-repeat
              background: url('../img/landing-checkmark.png')
              background-size: contain
              margin-right: 11.5px
        .landing-signup-form
          background-color: white
          padding: 50px
          border-radius: 30px
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          .black-title
            font-family: 'AvenirNextLTPro-Demi'
            font-size: 20px
            line-height: 1.4
            color: #000000
            text-align: center
          span
            font-family: 'AvenirNextLTPro'
            padding-top: 13px
            font-size: 15px
            line-height: 1.4
            color: #000000
          .form-controls
            width: 100%
            display: flex
            flex-direction: column
            padding-top: 25px
            a
              height: 61px
              width: 100%
              margin-bottom: 16px
              color: $main_white
              text-decoration: none
              display: flex
              justify-content: center
              align-items: center
              &.facebook-login
                background-color: #3c5a9a
              &.google-login
                background-color: #4286f5
              i
                font-size: 36px
                left: auto!important
                width: auto
                margin-right: 15px
              span
                color: $main_white
          .email-signup
            padding-top: 20px
            color: #000000
            font-family: 'AvenirNextLTPro-Demi'
            line-height: 1.4
            font-size: 15px
            text-decoration: none
.brands
  h2
    color: #000000
    font-family: 'AvenirNextLTPro-Demi'
    line-height: 1.4
    font-size: 20px
    text-decoration: none
    text-align: center
    padding-top: 76px
  .brands-list
    padding-top: 16px
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr))
    grid-gap: 25px
    padding-bottom: 43px
    .brand
      img
        border-radius: 50%

.rating-star
  width: 35px
  height: 33px
  background-repeat: no-repeat
  display: inline-block
  background: url('../img/greystar.png')
  background-size: contain
  &.selected
    background: url('../img/geenstar.png')
    background-size: contain
    background-repeat: no-repeat


.testimonials
  text-align: center
  h2
    font-family: 'AvenirNextLTPro-Demi'
    font-size: 20px
    color: $main_dark

.testimonials-list
  padding-bottom: 100px
  padding-top: 42px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 20px

  .testimonial
    max-width: 381px
    .testimonial-header
      text-align: center
      background-color: $main_dark
      padding: 35px
      .title
        color: $main_white
        font-family: 'AvenirNextLTPro-Demi'
        font-size: 20px
        line-height: 1.4
      .content
        font-family: 'AvenirNextLTPro'
        font-size: 12px
        line-height: 1.33
        color: #ffffff
        padding-top: 16px
        padding-bottom: 65px
    .testimonial-footer
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      position: relative
      padding-top: 85px
      padding-left: 22px
      padding-right: 22px
      padding-bottom: 22px
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19)
      .info
        .author
          font-family: 'AvenirNextLTPro-Demi'
          font-size: 15px
          color: #000000
        .company
          font-family: 'AvenirNextLTPro'
          font-size: 15px
          color: #000000
      .photo
        border-radius: 50%
        height: 153px
        width: 153px
        object-fit: cover
        position: absolute
        top: -76px
        border: 4px solid $main_white



.main-landing-link
  text-align: center
  width: 100%
  a
    font-family: 'AvenirNextLTPro'
    font-size: 20px
    color: $orange_title_color
    line-height: 1.4
    margin-top: 81px
    padding-bottom: 75px

.bolder-text
  font-family: 'AvenirNextLTPro-Demi'
  display: contents

.landing-logo
  z-index: 1
  position: absolute
  height: 110px
  width: 280px
  margin-top: 20px
  margin-left: 25px

@media screen and (max-width: 862px)
  .landing-header
    .landing-header-wrap
      .container
        .banner-content
          .green-title
            font-size: 30px

@media screen and (max-width: 768px)
  .landing-logo
    position: relative
    text-align: center
    margin: 0 auto
    display: block
    width: 178px
    height: 70px
  .landing-header
    padding-top: 29px
    .landing-header-wrap
      background: #000000
      height: auto
      .container
        .banner-content
          .green-title
            text-align: center
            padding-top: 15px
          .landing-signup-form
            margin-top: 20px
          .landing-tips
            max-width: 100%
            padding-top: 50px
            padding-bottom: 50px
  .testimonials-list
    grid-template-columns: 1fr
    justify-content: center
    align-items: center
    .testimonial
      margin: 0 auto

  .brands
    .brands-list
     .brand
       margin: 0 auto
@media screen and (max-width: 502px)
  .landing-header
    .landing-header-wrap
      .container
        .banner-content
          .landing-signup-form
            .form-controls
              a
                justify-content: space-around
                i
                  margin-right: 0

@media screen and (max-width: 420px)
  .landing-header
    .landing-header-wrap
      .container
        .banner-content
          .landing-signup-form
            padding: 31px 22px
            .form-controls
              a
                justify-content: space-around
                i
                  margin-right: 0
            .black-title
              font-size: 18px
            span
              font-size: 14px
            .email-signup
              font-size: 14px
  .brands
    .brands-list
      grid-template-columns: 1fr
