@media screen and (max-width: 1120px)
  .web-logo
    .slogan
      display: none

@media screen and (max-width: 820px)
  header
   .navigation
    .main-menu
      ul
        li
          padding-right: 25px



@media screen and (max-width: 768px)
  .topbar-search
    display: none

@media screen and (max-width: 720px)
  header
   .navigation
     .main-menu
       .hamburger
         display: block
       ul
         display: none



@media screen and (max-width: 520px)
  .header-controls
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .join-btn
      margin-bottom: 5px

@media screen and (max-width: 400px)
  header
   .navigation
    .topbar
     .web-logo
      img
       width: 125px
       height: auto
