@media screen and (max-width: 1220px)
  .tip-wrap
    .tip-content
      .tip-title
        font-size: 19px
  .main-banner
    .banner-wrap
      .banner-content
        //left: 30px
@media screen and (max-width: 1186px)
  .web-logo
    .slogan
      display: none        
@media screen and (max-width: 1120px)
  .workshops
    .workshop-banner
      .banner-content-wrap
        padding: 80px 40px
  .badges-list-wrap
    .badges-list
      .badge-item
        height: 134px
  .uag-sec
    .uag-wrap
      .uag-content
        //top: 25%
  .networking-sec
    .networking-wrap
      .networking-content
        width: 100%

  .main-banner
   .banner-wrap
    .banner-content
     // top: 10%
      .banner-features
        padding-top: 20px
  .web-logo
    .slogan
      display: none
@media screen and (max-width: 1078px)
  .network-banner.main-banner
    .banner-content
      .content-wrap
        .small-title
          font-size: 25px
        .banner-title
          font-size: 40px
        .subtitle
          font-size: 20px
        .banner-controls
          .filled-btn-red
            font-size: 20px

  .tips-menu
    ul
      .tips-menu-item
        margin-top: 10px
  .main-banner.uag-banner
    .banner-wrap
      .banner-content
        padding-top: 200px
        padding-bottom: 200px
  .tips-slider
    .tip-wrap
      .tip-video:after
        width: 122px
        height: 122px

  .article-details
    .article-info-wrap
      .article-sharing-info
        .sharing-links
          padding-right: 0
          border: none
          a:last-child
            margin: 0



      .article-info-controls
        flex: 0 0 100%
        justify-content: flex-end
@media screen and (max-width: 992px)
  .tip-wrap
    .tip-video
      .tip-play-icon
        width: 100px
        height: 100px
  .leaderboard-page
    h3
      font-size: 22px
  .event-item
    .event-image
      img
        width: 356px
        max-width: 356px
        height: 160px
        object-fit: cover
  .badges-list-wrap
    .badges-list
      .badge-item
        height: 180px
  .main-banner.uag-banner
    .banner-wrap
      .banner-content
        padding-top: 180px
        padding-bottom: 180px
  .echo-header-param
    display: none
  .main-banner
   .banner-wrap
    .banner-content
      .banner-title
        font-size: 60px
      .banner-subtitle
        font-size: 35px
  .uag-sec
    .uag-wrap
      .uag-content
        top: 10%
  .tips-menu
    ul
      .tips-menu-item
        a
          padding: 18px 25px
  .growing-sec
    .growing-control
      .growing-btn
        font-size: 25px
    .growing-header
      .section-title
        font-size: 50px
  .social-sharing
    justify-content: flex-start
    padding-top: 20px
  .row
    margin-left: 0
    margin-right: 0


@media screen and (max-width: 820px)
  .static-tips
    grid-template-columns: repeat(2, 1fr)
  .related-articles-wrap
    .tips-slider
      .tip-wrap
        .tip-content
          .tip-btn
            padding: 6px 12px
          .tip-title
            font-size: 18px
  .main-banner.uag-banner
    .banner-wrap
      .banner-content
        padding-top: 150px
        padding-bottom: 150px
  .uag-sec
    .uag-wrap
      .uag-content
        top: 5%
        .uag-tip
          font-size: 25px
        .uag-title
          font-size: 30px
  .main-banner
   .banner-wrap
    .banner-content
      .banner-controls
        padding-top: 20px
  header
   .navigation
    .main-menu
      ul
        li
          padding-right: 25px



@media screen and (max-width: 768px)
  .leaderboard-page
    .check-out-all-ways
      border: none!important
  .tip-wrap
    .tip-video
      .tip-play-icon
        width: 130px
        height: 130px
  .upcoming_short_desc
    text-align: center
  .event-header
    .event-title
      font-size: 30px
  .uag-users
  .member-wrap
    padding-bottom: 30px
  .article-details
    .block-name
      padding-bottom: 10px
    .tags-items
      padding-inline-start: 0
      display: flex
      li
        margin-right: 5px
        display: flex
        &:first-child
          padding-left: 0
        a
          padding: 8px 20px 8px 20px
          font-size: 15px
    .article-tags-list, .article-categories-list
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
    .article-actions-wrap
      .article-actions
        ul
          li
            border-right: none!important
            padding-left: 0!important
            span
              display: none
  .row-header
    height: auto
    padding: 10px
  .event-item
    .event-image
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      img
        max-width: 456px
        max-height: 256px
    .event-info
      align-items: center
      justify-content: center
      display: flex
      flex-direction: column
      width: 100%
      .event-date
        font-size: 20px!important
        padding-top: 20px
  .pro-members-item
    .member-wrap
      .member-photo
        padding-left: 0
  .row-header
    h3
      font-size: 26px
    &.text-left
      h3
        font-size: 26px

  .pro-members-item
    .member-wrap
      flex-direction: column
      .member-photo
        justify-content: center
        align-items: center
        display: flex
      .member-details
        padding-top: 20px
        .member-name,.member-position,.member-social-links
          text-align: center
          display: flex
          align-items: center
          justify-content: center
        .member-latest-posts
          display: flex
          flex-direction: column
          align-items: center


  .events-controls
    flex-wrap: wrap
  .event-item
    flex-direction: column
    align-items: flex-start
    .event-image
      img
        width: 100%
        height: auto
    .event-info
      padding-left: 0
  .network-banner.main-banner
    .banner-content
      .content-wrap
        padding-left: 24px
        padding-right: 24px
        .small-title
          font-size: 25px
        .banner-title
          font-size: 40px
        .subtitle
          font-size: 20px
        .banner-controls
          width: auto!important
          .filled-btn-red
            font-size: 20px
  .workshops
    .workshop-banner
      .banner-content-wrap
        .banner-content
          .banner-title
            font-size: 35px
          .banner-subtitle
            font-size: 25px
          .banner-controls
            .red-text
              font-size: 25px
  .badges-list-wrap
    .badges-list
      .r_col
        .badge-item
          padding-left: 0
      .border-right
        border-right: none!important
      .badge-item
        height: auto
        padding-left: 0
  .main-banner.points-banner
    .banner-wrap
      height: auto!important
      min-height: 300px
      .banner-content
        .banner-title
          font-size: 40px
  .related-articles-wrap
    .tips-slider
      .tip-wrap
        .tip-video
          &:after
            width: 80px
            height: 80px
  .article-details
    .article-content-wrap
      .access-msg
        //left: 0
        p
          padding: 32px 60px 32px 60px
  .members-grid
    .member-wrap
      display: block
      .member-photo
        float: left
        margin-right: 20px
      .member-details
        padding-left: 0


  .uag-content-sec
    .wpad
      padding: 27px 0
  .uag-content-sec
    .row-header
      padding-left: 15px
      h3
        font-size: 20px
  .main-banner.uag-banner
    .banner-wrap
      .banner-content
        padding-top: 120px
        padding-bottom: 120px
  .main-banner.uag-banner
    .banner-text
      font-size: 20px
  .black-overlay
    display: block
    z-index: 1
  .article-details
    .article-info-wrap
      .info-header
        h3
          font-size: 18px
  .banner-sec
    .banner-wrap
      .banner-title
        font-size: 40px
      .banner-text
        font-size: 18px
      .filled-btn-green
        font-size: 18px

  .mission-sec
    .coutdown-wrap
      .timer-title
        text-align: center
      .coutdown-timer
        .days, .hours, .minutes
          padding-right: 10px
        .timer-numb
          font-size: 60px


  .offers-sec
    .offer-wrap
      .offer-content
        .offer-title
          font-size: 20px
  .tips-menu
    ul
      .tips-menu-item
        margin-top: 10px
  .main-banner
   .banner-wrap
    .banner-content
      .banner-title
        font-size: 55px
      .banner-subtitle
        font-size: 32px
      .banner-controls
          padding-top: 30px
  .uag-sec
    .uag-wrap
      height: 620px
      .white-overlay
        display: block
      .uag-content
        top: 5%
        .uag-tip
          font-size: 15px
        .uag-title
          font-size: 20px
          margin-top: 50px
        p
          padding-top: 10px
          font-size: 20px
        .uag-features
          padding-top: 10px
          padding-bottom: 10px
          li
            span
              font-size: 18px
        .uag-contrlos
          img
            width: 165px
            height: auto
  .networking-sec
   .networking-wrap
    .networking-content
      padding-left: 20px
      padding-right: 20px
      padding-top: 50px
      padding-bottom: 50px
      text-align: center
      .networking-title
        font-size: 30px
      .networking-subtitle
        font-size: 20px

  .tips-sec
    .row-header
      h3
        font-size: 20px
  .tips-slider
    .tip-wrap
      .tip-content
        .tip-btn
          margin-top: 20px
          padding: 10px 18px
        .tip-title
          font-size: 20px

  .members-sec
    .members-list
      .members-wrap
        .member-item
          .member-content
            .member-role, .member-name
              font-size: 20px
  .section-header
    .header-wrap
      .header-title
        font-size: 25px

  .growing-sec
    .growing-control
      .growing-btn
        font-size: 20px
        height: 50px
    .growing-header
      .section-title
        font-size: 35px
    .growing-content
      .growing-menu-wrap:not(:last-child)
        border: none
  .main-banner
    .banner-wrap
      .banner-content
        .banner-controls
          .filled-btn, .transparent-btn, .transparent-btn-green, .filled-btn-green
            height: 59px
            width: 210px
            font-size: 22px
  .topbar-search
    display: none
  .social-sharing
    justify-content: flex-start
    align-items: center
    padding-top: 20px
  .footer-submenu
    li
      &:not(:last-child):after
        margin-right: 8px
      .submenu-item
        padding-right: 8px



@media screen and (max-width: 720px)
  .content-page-header
    font-size: 30px
  .uag-content-sec
    .content-page-header
      font-size: 30px
  .tips-menu
    ul
      .tips-menu-item
        a
          padding: 16px 20px
  .members-sec, .tips-slider
    padding-top: 30px
    .section-header
      margin-bottom: 20px
  .offers-sec, .forum-wrap, .tips-slider
    padding-bottom: 30px
  .uag-sec
    .uag-wrap
      margin-top: 20px
  .uag-sec
    margin-top: 30px
  .networking-sec
    .networking-wrap
      margin-top: 20px
  .networking-sec
    margin-top: 30px
  .workshops
    .workshop-banner
      margin-top: 20px
  .offers-sec
    .offers-list
      padding-top: 20px
  .mission-wrap
    padding-top: 20px
    padding-bottom: 30px
  .tips-sec
    .section-header
      margin-bottom: 20px
  .main-banner
    .banner-wrap
      .banner-content
        .banner-controls
          .filled-btn, .transparent-btn, .transparent-btn-green, .filled-btn-green
            height: 49px
            width: 200px
            font-size: 22px
  header
   .navigation
     .main-menu
       .hamburger
         display: block
       ul
         display: none
         .menu-item-has-children
           .um-theme-menu-toggle
             display: none!important
           .sub-menu
             display: block!important
             padding-top: 10px!important
             border: none
             position: relative
             opacity: 1
             background-color: inherit
             padding-inline-start: 40px!important
             margin-left: 30px!important
             li.menu-item
               border: none!important
               a
                 color: $main_white!important
                 padding-top: 0
                 padding-left: 0



@media screen and (max-width: 678px)
  .watch-btn
    font-size: 14px
    width: 100%
  .row-header.text-left
    padding-left: 0
    text-align: center
    justify-content: center
    padding: 0 30px
    height: 76px
    h3
      font-size: 20px
      text-align: center
  .article-details
    .transparent-header
      font-size: 22px
  .related-articles-wrap
    .tips-slider
      .tips-slider-wrap
        flex-direction: column
        .tip-wrap
          max-width: 100%
          width: 100%
          &:not(:first-child)
            margin-top: 20px
          .tip-video
            &:after
              top: 30%
              left: calc(50% - 45px)
            img
              width: 100%
              max-width: 100%
              max-height: 200px
              object-fit: cover

  .main-banner
    .banner-wrap
      .banner-content
        .banner-controls
          .filled-btn, .transparent-btn, .transparent-btn-green, .filled-btn-green
            height: 49px
            width: 200px
            font-size: 20px

  .marked_icn
    height: 26px
    width: 26px
  .footer-logo
    justify-content: center
    width: 100%
    text-align: center
  .footer-copyright
    width: 100%
    text-align: center
    justify-content: center
    margin-top: 20px
  .footer-submenu
    text-align: center
    list-style: none
    li
      padding-bottom: 10px
      display: list-item
      &:not(:last-child):after
        display: none

@media screen and (max-width: 620px)
  .article-details
    .article-content-wrap
      .access-msg
        left: 0
        p
          padding: 20px 60px 20px 60px
    .article-actions-wrap
      .article-actions
        ul
          li:not(:last-child)
            padding-right: 10px
          li:not(:first-child)
            padding-left: 10px

@media screen and (max-width: 578px)
  .tip-wrap
    .tip-video
      .tip-play-icon
        width: 80px
        height: 80px
  .main-banner.uag-banner
    .banner-wrap
      .banner-content
        padding-top: 100px
        padding-bottom: 100px
  .main-banner.uag-banner
    .banner-wrap
      .banner-content
        .banner-controls
          padding-top: 30px
          .filled-btn, .transparent-btn, .transparent-btn-green, .filled-btn-green
            height: 39px!important
            width: 170px!important
            font-size: 18px
  .tips-slider
    .tip-wrap
      .tip-video:after
        width: 100px
        height: 100px
  .article-details
    .article-info-wrap
      .info-content
        align-items: flex-start
        .author
          .author-name
            font-size: 18px
        .article-sharing-info
          margin-bottom: 10px
          span
            font-size: 18px
            display: none
        .article-info-controls
          margin-left: 0
          margin-top: 10px
          justify-content: flex-start
  .banner-sec
    .banner-wrap
      .banner-title
        text-align: center
      .banner-text
        text-align: center
      .filled-btn-green
        text-align: center
        align-items: center
        justify-content: center
        display: flex
        margin: 0 auto
  .mission-sec
    .coutdown-wrap
      .coutdown-timer
        .days, .hours, .minutes
          padding-right: 5px
        .timer-numb
          font-size: 40px
  .main-banner
    .banner-wrap
      .banner-content
        top: 5%
        .banner-title
          font-size: 50px
        .banner-subtitle
          font-size: 25px
        .banner-features
          padding-top: 10px
          .banner-feature
            font-size: 15px
            padding-right: 20px
          td
            line-height: 0
        .banner-controls
          padding-top: 30px
          .filled-btn, .transparent-btn, .transparent-btn-green, .filled-btn-green
            height: 39px
            width: 170px
            font-size: 18px
          .transparent-btn,.transparent-btn-green
            margin-left: 15px

@media screen and (max-width: 575px)
  .static-tips
    grid-template-columns:  1fr
  #calendar_modal
  .modal-body
    padding: 2rem
  .rsvp-wrap
    flex-direction: column
    .rsvp-controls
      border: none
      border-radius: 0 0px 19px 19px
      width: 100%
      .change_rsvp
        padding-top: 20px

  .events-controls
    flex-direction: column
    width: 100%
    .control-wrap
      margin-right: 0
  .events-control-menu
    width: 100%
  .events-control
    width: 100%
  .watch-btn
    margin: 0 auto
  .footer-widget-title
    text-align: center
    padding-top: 10px
  .footer-menu
    text-align: center
  .social-sharing
    justify-content: center
  .widget-wrap
    justify-content: center
    padding-top: 20px
@media screen and (max-width: 550px)
  .header-notification-box
    .dropdown-menu
      left: -180px!important
@media screen and (max-width: 520px)
  .network-banner.main-banner
    .banner-content
      .content-wrap
        margin: 60px 0
        padding: 60px 24px

  .community-leaderboard-widget
    .leaderboard-header
      h3
        font-size: 16px
      a:not(.nav-link)
        font-size: 14px
      a
        margin-right: 10px
  .main-banner.points-banner
    .banner-wrap
      .banner-content
        .banner-title
          font-size: 30px
  .tips-menu
    ul
      .tips-menu-item
        width: 100%
        a
          width: 100%

  .article-details
    .block-name
      padding-bottom: 10px
    .tags-items
      padding-inline-start: 0
      display: flex
      li
        margin-right: 5px
        display: flex
        &:first-child
          padding-left: 0
        a
          padding: 8px 20px 8px 20px
          font-size: 15px
    .article-tags-list, .article-categories-list
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
    .article-actions-wrap
      .article-actions
        ul
          li
            border-right: none!important
            padding-left: 0!important
            span
              display: none
  .members-wrap
    .member-wrap
      flex-direction: column
      justify-content: center
      align-items: center
      .member-details
        padding-left: 0
        .member-name
          text-align: center
        .member-position
          text-align: center
        .member-social-links
          display: flex
          justify-content: center
          align-items: center
  .main-banner.uag-banner
    .banner-text
      font-size: 18px
  .tips-slider
    .tip-wrap
      .tip-video:after
        width: 142px
        height: 142px
  .article-details
    .article-info-wrap
      .info-content
        flex-direction: column
        .article-sharing-info
          margin-top: 10px


  .banner-sec
    .banner-wrap
      .banner-title
        text-align: center
        font-size: 35px
      .banner-text
        text-align: center
      .filled-btn-green
  .mission-sec
    .coutdown-wrap
      .coutdown-timer
        .days, .hours, .minutes
          padding-right: 5px
        .timer-numb
          font-size: 35px
  .main-banner
    .banner-wrap
      .banner-content
        .banner-title
          font-size: 40px
        .banner-subtitle
          font-size: 20px
        .banner-controls
          padding-top: 30px
          .filled-btn, .transparent-btn, .transparent-btn-green, .filled-btn-green
            width: 160px
  .container
    padding-left: 30px
    padding-right: 30px
  .uag-sec
    .uag-wrap
      height: 520px
      .white-overlay
        z-index: 2
      .uag-bg
        position: absolute
        object-fit: cover
      .uag-content
        width: 100%
        padding-top: 20px
        padding-bottom: 20px
        position: relative
        z-index: 3
        .uag-title
          padding-left: 20px
          width: 100%
        p
          padding-left: 20px
        .uag-features
          padding-left: 70px
        .uag-contrlos
          padding-left: 20px
          img
            width: 120px
  .workshops
    .workshop-banner
      .banner-content-wrap
        padding: 75px 40px
        .banner-content
          .banner-title
            font-size: 30px
          .banner-subtitle
            font-size: 25px
  .tips-sec
    .tip-video-title
      padding-left: 20px
      padding-top: 20px
      padding-bottom: 20px
      h3
        font-size: 20px
  .members-sec
    .members-list
      .members-wrap
        .member-item
          .member-photo
            max-width: 100%
            width: 100%
            object-fit: cover

  .section-header
    .header-wrap
      &:before
        width: 65%
      .section-header-part
        width: 35%
      .header-icon
        padding: 0 10px
        i
          width: 38px
          height: 38px
      .header-title
        font-size: 20px
  .header-controls
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .join-btn
      margin-bottom: 5px

@media screen and (max-width: 475px)
  .community-leaderboard-widget
    .leaderboard-header
      .leaderboard-title
        display: flex
        flex-direction: column
        a
          margin-right: 10px
          text-align: left
  .workshops
    .workshop-banner
      .banner-content-wrap
        .banner-content
          .banner-title
            font-size: 25px
            text-align: center
          .banner-subtitle
            font-size: 20px
            text-align: center
          .banner-tips
            span
              font-size: 18px
          .banner-controls
            .red-text
              text-align: center
              font-size: 20px
  .footer-menu
    li
      padding-bottom: 10px
@media screen and (max-width: 400px)
  .section-header
    .header-wrap
      background-color: $main_dark
      &:before
        width: 0
      .section-header-part
        display: none
      .header-title
        width: 100%

  .content-page-header
    font-size: 25px
  .main-banner.uag-banner
    .banner-wrap
      .banner-content
        padding-top: 60px
        padding-bottom: 60px
  .comments-wrap
    .comments-list
      .comments
        .comment-item
          .comment-data
            .posting-info
              .posting-date
                display: block
                padding: 0
  .article-details
    .article-info-wrap
      .info-content
        .article-info-controls
          a
            padding: 12px 15px

  .banner-sec
    .banner-wrap
      .banner-title
        font-size: 30px
      .banner-text
        text-align: center
      .filled-btn-green
  .mission-sec
    .coutdown-wrap
      .coutdown-timer
        .days, .hours, .minutes
          padding-right: 5px
        .timer-numb
          font-size: 26px
        .timer-text
          font-size: 12px
          padding-top: 5px
  .workshops
    .workshop-banner
      .banner-content-wrap
        padding: 80px 40px
        .banner-content
          .banner-tips
            .marked_icn
              width: 32px
              height: 32px
  .community-leaderboard-widget
    .leaderboard-items
      .leaderboard-item
        padding-left: 18px
        .leader-photo
          margin-right: 10px
    .leaderboard-header
      padding-top: 20px
      padding-left: 20px
      padding-right: 20px
      a
        margin-right: 10px

  .section-header
    .header-wrap
      &:before
        width: 0
      .header-icon
        padding: 0 20px
      .section-header-part
        width: 32%
  .main-banner
    .banner-wrap
      .banner-content
        .banner-features
          padding-top: 10px
          .banner-feature
            font-size: 15px
            padding-right: 20px
          td
            line-height: 0
        .banner-controls
          padding-top: 25px
          .filled-btn, .transparent-btn, .transparent-btn-green, .filled-btn-green
            height: 30px
            width: 120px
            font-size: 16px
          .transparent-btn,.transparent-btn-green
            border-width: 3px

  .subscription-form
    .subscribe-field
      padding-left: 12px
      padding-right: 0
  header
   .navigation
    .topbar
     .web-logo
      img
       width: 125px
       height: auto

@media screen and (max-width: 375px)
  .banner-title
    h1, .h1
      font-size: 40px
  .swiper-slide
    width: 100%
  .network-banner.main-banner
    .banner-content
      .content-wrap
        margin: 10px 0
        padding: 30px 24px
        .small-title
          font-size: 20px
        .banner-title
          font-size: 30px
        .subtitle
          font-size: 18px
        .banner-controls
          width: auto
          .filled-btn-red
            font-size: 18px
  .breadcrumbs
    .breadcrumb
      a
        font-size: 16px
  .container
    padding-left: 15px
    padding-right: 15px
  .tips-sec
    .row-header
      h3
        font-size: 20px
  .tips-menu
    ul
      .tips-menu-item
        width: 100%
        a
         width: 100%


  .growing-sec
    .growing-header
      .section-title
        font-size: 30px
  .main-banner
    .banner-wrap
      .banner-content
        .banner-title
          font-size: 30px
        .banner-subtitle
          font-size: 20px
        .banner-features
          padding-top: 5px
          .banner-feature
            font-size: 15px
            padding-right: 20px
            .marked_icn
              height: 22px
              width: 22px
          td
            line-height: 0
        .banner-controls
          padding-top: 20px
          .filled-btn, .transparent-btn, .transparent-btn-green, .filled-btn-green
            height: 30px
            width: 120px
            font-size: 16px


