/**--------------------------------------------------BUTTONS-----------------------------------------*/
.echo-btn-red
  background-color: $main_orange
  color: $main_white
  font-size: 16px
  text-decoration: none
  &:hover
    background-color: $main_orange_hover
    text-decoration: none
    color: $main_white
.echo-btn-green
  background-color: $main_light_green
  color: $main_white
  font-size: 16px
  text-decoration: none
  &:hover
    background-color: $main_green_hover
    text-decoration: none
    color: $main_white
.watch-btn
  font-family: 'AvenirNextLTPro-Demi'
  width: 205px
  height: 40px
  border-radius: 10px
  color: $main_white
  line-height: 1.38
  font-size: 16px
  font-weight: normal
  display: flex
  align-items: center
  justify-content: center
  align-self: flex-end


/**--------------------------------------------------END BUTTONS-----------------------------------------*/



/**--------------------------------------------------ICONS-----------------------------------------*/

.search_icn
  display: inline-block
  background: url("../img/search.png")
  height: 21px
  width: 20px
  background-repeat: no-repeat

.login_icn
  display: inline-block
  background: url("../img/login.png")
  height: 22px
  width: 21px
  background-repeat: no-repeat

.facebok_icn
  display: inline-block
  background: url("../img/facebook.png")
  height: 24px
  width: 27px
  background-repeat: no-repeat


.instagramm_icn
  display: inline-block
  background: url("../img/instagramm.png")
  height: 26px
  width: 30px
  background-repeat: no-repeat

.youtube_icn
  display: inline-block
  background: url("../img/youtube.png")
  height: 31px
  width: 35px
  background-repeat: no-repeat

.marked_icn
  display: inline-block
  mask-image: url("../img/check-mark.svg")
  height: 20px
  width: 20px
  background-color: $main_white


/**--------------------------------------------------END ICONS-----------------------------------------*/