doctype
html(lang="eng")
    head
        meta(charset='utf-8', content="width=device-width, initial-scale=1")
        title echo v2
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/hamburgers.min.css", rel="stylesheet")
        link(href="css/swiper-bundle.min.css", rel="stylesheet")
        link(href="css/main.css", rel="stylesheet")
    body
        header
          nav(class="navigation")
          div.container-fluid
              div.topbar
                  a.web-logo(href="#")







